html {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }
 div.top ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    width: 45vh;
  }
  
  div.top li {
    margin: auto;
  }
  div.top li:hover{
  background-color: black;
}
  div.top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
div.about {
    background-color: gray;
    height: 60vh;
    width: 65vh;
    margin: auto;
    border-radius: 5px;
}
div.about div.profile-image{
    background-image: url("assets/Baggette.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
    margin: auto;
    margin-top: 5vh;
    border: 5px solid black;
    background-color: white;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}